<!doctype html>
<html data-ng-app="LetzChangeRadioApp">
  <head>
    <meta charset="utf-8"> 
    <title>LetzChangeRadioApp</title>
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="icon" href="/favicon.ico">
  </head>
  <body data-ng-controller="YoutubeVideosController">
    <header>
    
      <h1 style="font-size=25px;" >Letz<strong><img alt="" src="/logo.png">Change</strong></h1>
      <form id="search" data-ng-submit="search()">
        <input id="query" name="q" type="text" placeholder="Search here" data-ng-model="query" style = "font-size : 18px; font-color : #fff !important ;">
        <input id="submit" type="image" src="search.png" alt="Search" style="
    left: 1040px;
        ">
      </form>
      
    </header>
    
    <div id="player">
      <div id="placeholder"></div>
    </div>
    <div id="playlist">
      <p id="current">{{ youtube.videoTitle }} </p>
      <ol id="AddedPlaylist" data-ng-show="playlist">
        <li data-ng-repeat="video in AddedPlaylist">
          <p class="item-delete" data-ng-click="delete('AddedPlaylist', video.id)" style="
    margin-top: 10px;
    margin-bottom: 10px;
          ">Delete</p>
          <p class="item-title" data-ng-click="display(video.id, video.title)" style="
    margin-top: 10px;
    margin-bottom: 10px;
          ">{{video.title}}</p>
        </li>
      </ol>
     
     
    </div>
    <div id="searchResults">
      <div class="video" data-ng-repeat="video in searchResults" data-ng-click="queue(video.id, video.title)">
        <img class="video-image" data-ng-src="{{ video.thumbnail }}">
        <p class="video-title">{{ video.title }} <a class="item-add" data-ng-click="add('playlist', video.id)">Add to Playlist</a></p>
        <p class="video-author">{{ video.author }}</p>
        <p class="video-description">{{ video.description }}</p>
        
       
      </div>
    </div>
    <script src="angular.min.js"></script>
   
    <script src="app.js"></script>
   
  </body>
</html>
